<hr class="top-hr">
<div class="product-wrapper">
  <div class="alt-img-wrapper">
    <div *ngFor="let img of product?.images; let i = index" class="alt-img-wrap">
      <input type="radio" name="alt-images" (change)="changeImage(img)" id="img-{{i+1}}">
      <label class="alt-img" for="img-{{i+1}}">
        <img [src]="img.src" [alt]="img.title">
      </label>
    </div>
  </div>
  <div class="title-img-wrapper">
    <button class="heart">
      <fa name="heart" class="icon" size="5"></fa>
    </button>
    <img src="{{selectedImage?.src}}" alt="{{selectedImage?.src}}" class="title-img">
  </div>
  <div class="product-desc-wrapper">
    <h2>{{product?.name}}</h2>
    <div class="product-desc-wrap">
      <span class="stars-wrap">
        <span class="rating full-stars"></span>
        <span class="rating rating-stars" [style.width.%]="ratingWidth"></span>
      </span>
      <span>
          <small>
            {{product?.rating}}
          </small>
      </span>
      <span>
        <fa name="chevron-right" class="icon"></fa>
        <a href="/">
          <small>
            {{product?.reviews}} Reviews
          </small>
        </a>
      </span>
      <span>
        <fa name="chevron-right" class="icon"></fa>
        <a href="/">
          <small>
            Write review
          </small>
        </a>
      </span>
    </div>
    <div class="price-wrapper">
      <h4>
        {{product?.price | currency:"USD"}}
      </h4>
    </div>
    <hr>
    <form>
        <vs-options-container [options]="product?.colors" type="color" (lineOption)="setLineOption($event, 'COLOR')">
            Color
        </vs-options-container>  
        <vs-options-container [options]="product?.bandSize" type="band" (lineOption)="setLineOption($event, 'BAND')">
            Band Size
        </vs-options-container>
        <vs-options-container  [options]="product?.cupSize" type="cup" (lineOption)="setLineOption($event, 'CUP')">
            Cup Size
        </vs-options-container>
      <a href="/" class="size">
        <span>Size & Fit</span>
        <fa name="chevron-right" class="icon" size="5"></fa>
      </a>
      <div class="quantity-wrapper">
        <button class="quantity" type="button" [disabled]="quantity <= 1" (click)="quantity = quantity - 1">
          <svg width="10" height="10">
            <path stroke="#5b5b5b" stroke-width="1" d="M 0 5 L 10 5" />
          </svg>
        </button>
        <span>Qty {{quantity}}</span>
        <button class="quantity" type="button" [disabled]="quantity >= product?.quantity" (click)="quantity = quantity + 1;">
          <svg width="10" height="10">
            <path stroke="#5b5b5b" stroke-width="1" d="M 5 0 L 5 10 M 0 5 L 10 5" />
          </svg>
        </button>
      </div>
      <button type="button" class="fab-btn-primary" (click)="addLineToCart()">Add to bag</button>
    </form>
    <div class="desc-wrapper">
      <h4>Description</h4>
      <p>
        {{product?.description}}
      </p>
    </div>
  </div>
</div>