$width: 1180px
$min-height: 550px
$light: 300

\:host
    width: $width
    margin: 0 auto
    min-height: $min-height
    display: block
.auth-content
    width: 610 / 1180 * 100%
    margin: 0 auto
    line-height: 17px
    h1
        margin-bottom: 20px
        line-height: 31px
        font-weight: $light
    .sections-wrapper
        display: flex
        justify-content: space-between
        button
            font-size: 18px
            text-transform: uppercase
            font-family: 'Oswald', sans-serif
            letter-spacing: .15em
        &>section:first-child
            width: 260 / 610 * 100%
            form
                display: flex
                flex-direction: column
                &>div
                    display: flex
                    justify-content: space-between
                    button
                        border: 0
                        background-color: #fff
                        font-size: 11px
                        line-height: 17px
                        font-family: 'Open Sans', sans-serif
                        text-transform: none
                        letter-spacing: 0em
                        &:hover
                            cursor: pointer
                            color: #d91560
                        &:focus
                            outline: 0
                        fa
                            font-size: 8px
                input
                    margin: 5px 0 20px
                    padding: 10px
                    border: 1px solid #e1e1e1
        h2
            margin-bottom: 20px
            margin-top: 10px
            line-height: 27px
            font-weight: $light
        &>section:last-child
            width: 260 / 610 * 100%
            display: flex
            flex-direction: column
            ul
                margin: 10px 0 33px 15px