<hr class="top-hr">
<ul class="store">
  <li *ngFor="let item of products | async">
    <div>
      <button class="like heart">
        <fa name="heart" class="icon" size="5"></fa>
      </button>
      <button type="button" class="quick-view-btn" (click)="showModal(item)">Quick View</button>
      <a [routerLink]="[item.link, item.id]">
        <img src="{{item.titleImage.src}}" alt="{{item.titleImage.title}}" width="{{widthImg}}" height="{{heightImg}}">
        <aside>
          <ul>
            <li class="product-name">
              <h3>
                {{item.name}}
              </h3>
            </li>
            <li class="product-rating">
              <span class="stars-wrap">
                <span class="rating full-stars"></span>
                <span class="rating rating-stars" [style.width.%]="item.rating * 100 / 5"></span>
              </span>
            </li>
            <li class="product-price">
              <em>
                {{item.price | currency:"USD"}}
              </em>
            </li>
            <li class="product-option">
              <em>
                Size up to {{item.bandSize[item.bandSize.length - 1].title}}{{item.cupSize[item.cupSize.length - 1].title.toUpperCase()}}
              </em>
            </li>
            <li class="product-option">
              <em>
                {{item.colors.length}} color
              </em>
            </li>
          </ul>
        </aside>
      </a>
    </div>
  </li>
</ul>