<section>
  <div class="auth-form-wrapper">
    <hr class="top-hr">
    <div class="auth-content">
      <h1>Create An Account</h1>
      <hr>
      <form>
        <fieldset>
          <div class="input-line">
            <label for="name">First Name</label>
            <input id="name">
          </div>
          <div class="input-line">
            <label for="email">Email Adress</label>
            <input id="email">
          </div>
          <div class="input-line">
            <label for="confemail">Confirm Email</label>
            <input id="confemail">
          </div>
          <div class="input-line">
            <label for="password">Create Password</label>
            <input id="password">
          </div>
          <div class="input-line">
            <label for="confpass">Confirm Password</label>
            <input inputmode="confpass">
          </div>
          <div class="input-line">
            <label for="country">Country</label>
            <select id="country">
            </select>
          </div>
        </fieldset>
        <hr>
        <fieldset class="submit">
          <div>
              <span>
                  Have an account already?
                  <a routerLink="/login"> Sign In</a>
              </span>
              <button class="fab-btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>