$bgc-host: #000

\:host
    padding: 0 5px
    display: flex
    margin-left: 25px
    &:hover
        background-color: $bgc-host
    &:hover button
        background-color: $bgc-host
.item-wrap
    display: flex
    align-items: center
    button
        padding: 5px
        background-color: #232323
        border: none

        &:hover
            cursor: pointer
        &:focus
            outline: none
    span
        color: #fff
        margin-left: 3px