<h3>
  <ng-content></ng-content>
  <span class="title {{type}}-title">
    {{title}}
  </span>
</h3>
<div class="{{type}}-wrapper">
  <vs-option *ngFor="let option of options; let i = index" [option]="option" [type]="type" [index]="i" (title)="title = $event">
    <img *ngIf="type === 'color'" [src]="option.src" [alt]="option.title">
    <div *ngIf="type === 'color'" class="popup">
      <img [src]="option.src" [alt]="option.title">
      <h4>{{option.title}}</h4>
      <span>Click to view photo</span>
    </div>
  </vs-option>
</div>