<input type="radio"
    name="{{type}}"
    id="{{type}}-{{+index+1}}" 
    value="{{option.title}}" 
    [disabled]="missed">
<label for="{{type}}-{{+index+1}}" 
    (mouseenter)="changeState(type, true)"
    (mouseleave)="changeState(type, false)"
    (click)="sendOption()"
    [class.disabled-color]="missed && type === 'color'"
    [class.disabled]="missed && type !== 'color'">
    <span *ngIf="type !== 'color'">
        {{option.title.toUpperCase()}}
    </span>
    <ng-content select="img"></ng-content>
</label>
<ng-container *ngIf="hovered">
    <ng-content select="div"></ng-content>
</ng-container>