<input type="radio"
    name="{{type}}"
    id="{{type}}-{{+index+1}}" 
    value="{{option.title}}" 
    [disabled]="missed">
<label for="{{type}}-{{+index+1}}" 
    (mouseenter)="showPopup()"
    (mouseleave)="hidePopup()"
    (click)="sendOption()"
    [class.disabled-color]="missed && type === 'color'"
    [class.disabled]="missed && type !== 'color'">
    <span *ngIf="type !== 'color'">
        {{option.title}}
    </span>
    <img *ngIf="type === 'color'" [src]="option.src" [alt]="option.title">
</label>
<div #popup></div>

<!-- <ng-container *ngIf="hovered">
    <ng-content select="div"></ng-content>
</ng-container> -->