$width: 1180px

\:host
    display: block
    width: 100%
header
    margin-bottom: 16px
    vs-top-line
        position: fixed
        width: 100%
        top: 0
        z-index: 999
        background-color: #232323
    div
        display: flex
        justify-content: center
        width: $width
        margin: 80px auto 30px auto
    nav
        position: relative
        z-index: 1
        display: flex
        justify-content: center
        width: $width
        margin: 20px auto 0 auto
section
    width: $width
    margin: 0 auto