$width: 1180px

.top-nav
    display: flex
    justify-content: space-between
    width: $width
    margin: 0 auto
    .top-nav-item
        display: flex
        .icon
            font-size: 17 / 11 * 1em
            color: #fff
        span
            color: #fff
            margin-left: 3px