@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald')

body
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
h1, h2, h3, h4, h5, h6
    margin: 0
p
    margin: 0
    padding: 0

.auth-form-wrapper
    width: 1180px
    margin: 0 auto
    min-height: 550px
.top-hr
    height: 4px
    background-color: #e1e1e1
    border: 0
    border-radius: 4px
    margin: 0
    margin-bottom: 20px
.auth-content
    margin: 0 auto
    font-size: 11px
    line-height: 17px
.fab-btn-primary
    font-size: 18px
    text-transform: uppercase
    font-family: 'Oswald', sans-serif
    min-width: 150px
    min-height: 35px
    align-self: self-start
    padding: 4px 26px 2px
    background-color: #ef5f96
    border: 2px solid #ef5f96
    color: #fff
    &:hover
        border-color: #bf215d
        cursor: pointer
        &:focus
            outline: 0
.fab-btn-secondary
    padding: 5px 26px 3px
    background-color: #fff
    border: 1px solid #000
    &:hover
        border-color: #ef5f96
        cursor: pointer
    
.heart
    position: absolute
    right: 0
    width: 44px
    height: 44px
    background-color: transparent
    border: none
    &:hover .icon
        cursor: pointer
        color: #ef5f96
    &:focus
        outline: 0
    .icon
        width: 100%
        font-size: 24px
        color: rgba(44,44,44,0.35)